<footer>
    <p>This is not the main UK Grantmaking website. Please visit <a
            href="https://www.ukgrantmaking.org/">ukgrantmaking.org</a> to read the UK Grantmaking report.</p>
    <p>© Copyright {{now.year}} 360Giving</p>
    <p>Content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" data-type="link"
            data-id="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
            International License</a>. 360 Giving (Trading as 360Giving) is a registered charity <a
            href="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&amp;subId=0"
            data-type="link"
            data-id="https://register-of-charities.charitycommission.gov.uk/charity-details/?regId=1164883&amp;subId=0">1164883</a>
        and a registered company <a href="https://beta.companieshouse.gov.uk/company/09668396" data-type="link"
            data-id="https://beta.companieshouse.gov.uk/company/09668396">09668396</a>. Registered address: 360
        Giving, c/o Sayer Vincent, Invicta House, 110 Golden Lane, London, EC1Y 0TG.</p>
</footer>