<footer>
    <p>This is not the main UK Grantmaking website. Please visit <a
            href="https://www.ukgrantmaking.org/">ukgrantmaking.org</a> to read the UK Grantmaking report.</p>
    <p>© Copyright {{now.year}} 360Giving</p>
    <p>Content is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/" data-type="link"
            data-id="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
            International License</a>. 360 Giving is a trading name of Funders Together.
            Funders Together is a charitable company registered in England and Wales, Company number: 5596299 and Charity number: 1116201.
            Registered address: 4 Chiswell Street, London EC1Y 4UP.
</footer>