{% macro display_sidebar_item(sidebar_item) %}
<li x-data='{{ { "open": (sidebar_item.collapsible == false) or sidebar_item.active }|tojson }}'
    class="{{ sidebar_item.classes }}">
    {% if sidebar_item.children and sidebar_item.collapsible %}
    <button @click="open = !open" class="sidebar-item-toggle">
        <span x-text="open ? '▼' : '▶'"></span>
    </button>
    {% endif %}
    {% if sidebar_item.view == "logout" %}
    <form action="{{ url_for('logout') }}" method="post">
        {{ csrf_input }}
        <button type="submit" class="sidebar-item">{{ sidebar_item.title }}</button>
    </form>
    {% else %}
    <a href="{{ sidebar_item.url }}" class="sidebar-item">{{ sidebar_item.title }}</a>
    {% endif %}
    {% if sidebar_item.children %}
    <ul x-show="open">
        {% for child in sidebar_item.children %}
        {{ display_sidebar_item(child) }}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endmacro %}
<nav>
    <a href="{{ url_for('index') }}" rel="home" class="main-logo">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="{{ default_title }}">
        <h1>
            Data cleaning
            {% if current_fy %}
            <span class="f6">{{ current_fy }}</span>
            {% endif %}
        </h1>
    </a>
    <ul class="main">
        {% for sidebar_item in sidebar %}
        {{ display_sidebar_item(sidebar_item) }}
        {% endfor %}
    </ul>
    <ul class="settings">
        {% for sidebar_item in sidebar_settings %}
        {{ display_sidebar_item(sidebar_item) }}
        {% endfor %}
    </ul>
</nav>