django
gunicorn
django-debug-toolbar
django-htmx
dj-database-url
jinja2
psycopg2-binary
python-dotenv
whitenoise
inflect
titlecase
django-storages
boto3
ruff
django-click
openpyxl
pandas
sqlalchemy
requests
caradoc
datasette
uvicorn
datasette-auth-existing-cookies>=1.0a1
django-markdownx
django-filter
pytest-django
git+https://github.com/kanedata/charity-django.git@v0.19.2
django-admin-sortable2
django-db-views