{% extends 'base.html.j2' %}
{% from 'components/values.html.j2' import display_date, display_number, display_longtext, display_list, display_text, none_wrapper, display_boolean, display_url %}

{% block content %}
{% include 'grantmakers/partials/funderheader.html.j2' %}
{% include 'grantmakers/partials/funderstatus.html.j2' %}

<h3>Details</h3>

<table class="table">
    <tbody>
        <tr>
            <th class="tr">Tags</th>
            <td>
                {% include 'grantmakers/partials/tags.html.j2' %}
            </td>
        </tr>
        <tr>
            <th class="tr">Website</th>
            <td>
                {% if object.website %}
                <a href="{{ object.website|working_url }}" target="_blank">{{ object.website|clean_url }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="tr">Date of registration</th>
            <td>{{ display_date(object.date_of_registration) }}</td>
        </tr>
        <tr>
            <th class="tr">Date of removal</th>
            <td>{{ display_date(object.date_of_removal) }}</td>
        </tr>
        <tr>
            <th class="tr">Active</th>
            <td>{{ display_boolean(object.active) }}</td>
        </tr>
        <tr>
            <th class="tr">Activities</th>
            <td>
                <p>{{ display_text(object.activities) }}</p>
            </td>
        </tr>
    </tbody>
</table>


<h3>Notes</h3>
{% include 'grantmakers/partials/notes.html.j2' %}

<h3>Financial years</h3>

<table class="table striped">
    <thead>
        <tr>
            <th>Financial year</th>
            <th>Income / Employees</th>
            <th>Spending</th>
            <th>Grants</th>
            <th>Funds</th>
            <th>Checked</th>
        </tr>
    </thead>
    <tbody>
        <tr id="funder-year-new">
            <td colspan="6">
                <a class="button" hx-target="#funder-year-new" hx-swap="outerHTML"
                    hx-get="{{ url_for('grantmakers:add_funderyear', org_id=object.org_id) }}"
                    href="{{ url_for('grantmakers:add_funderyear', org_id=object.org_id) }}">
                    Add new financial year
                </a>
            </td>
        </tr>
        {% for financial_year in object.financial_years.order_by("-financial_year__fy") %}
        {% for funder_year in financial_year.financial_years.order_by("-financial_year_end") %}
        {% include 'grantmakers/partials/funderyear.html.j2' %}
        {% endfor %}
        {% endfor %}
    </tbody>
</table>


<h3>Grants made</h3>

<table class="table striped">
    <thead>
        <tr>
            <th>Recipient</th>
            <th>Recipient Type</th>
            <th class="tr">Amount Awarded</th>
            <th>Award Date</th>
            <th>Inclusion</th>
        </tr>
    </thead>
    <tbody>
        {% for grant in object.grants.order_by("-award_date").all()[0:25] %}
        <tr>
            <td>{{ grant.recipient }}</td>
            <td>{{ grant.recipient_type }}</td>
            <td class="tr">£{{ display_number(grant.amount_awarded) }}</td>
            <td>{{ display_date(grant.award_date) }}</td>
            <td>{{ grant.inclusion }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}