{% extends 'base.html.j2' %}
{% from 'components/pagination.html.j2' import pagination, results_header %}
{% from 'grantmakers/partials/fundertable.html.j2' import fundertable %}

{% set title = 'Grantmakers' %}

{% block bodyclass %}{{ super() }} aside{% endblock %}

{% block content %}
<p class="">{{ results_header(page_obj) }}</p>

{% if page_obj.object_list %}
{{ fundertable(page_obj.object_list) }}
{{ pagination(page_obj, request) }}
{% endif %}

{% endblock %}

{% block sidebar %}
<h3>Filters</h3>
<form action="{{ url_for('grantmakers:index') }}" method="get" class="filters">
    {% for field in filters.form %}
    {% if field.name == "latest_year__income__gt" %}
    <details>
        <summary>Financial</summary>
        {% endif %}
        {% if field.name == "o" %}
    </details>
    {% endif %}
    <div>
        {{ field.label_tag() }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit">Search</button>
</form>
{% endblock %}