{% from 'components/values.html.j2' import display_date, display_number, display_longtext, display_list, display_text, none_wrapper, display_boolean, display_url %}
{% macro funder_year_value_cell(funder_year, field, format_str="£{:,.0f}") %}
<td
    class="tr {% if funder_year[field + '_manual'] and funder_year[field + '_manual'] is not none %}underline{% endif %}">
    {{ display_number(funder_year[field], format_str=format_str) }}
</td>
{% endmacro %}


{% macro funder_year_row(funder_year)%}
<td>
    {% if funder_year.original_funder_financial_year %}
    {% set original_funder = funder_year.original_funder_financial_year.funder %}
    {% set new_funder = funder_year.funder_financial_year.funder %}
    <p class="negative">
        <strong>
            {% if original_funder == object %}
            Moved to
            <a href="{{ url_for('grantmakers:detail', org_id=new_funder.org_id) }}">
                {{ new_funder.name }}
            </a>
            {% else %}
            Originally from
            <a href="{{ url_for('grantmakers:detail', org_id=original_funder.org_id) }}">
                {{ original_funder.name }}
            </a>
            {% endif %}
        </strong>
    </p>
    {% endif %}
    <strong>{{ funder_year.funder_financial_year.financial_year_id }}</strong><br>
    <small>
        {% if funder_year.financial_year_start %}
        {{ display_date(funder_year.financial_year_start) }}<br>to
        {% endif %}
        {{ display_date(funder_year.financial_year_end) }}</small>
    {% if funder_year.account_url %}
    <br><a href="{{ funder_year.account_url }}" target="_blank">Accounts PDF</a>
    {% endif %}
    {% if funder_year.notes %}
    <details>
        <summary>Note</summary>
        {{ funder_year.notes|markdownify|safe }}<br>
    </details>
    {% endif %}
</td>
<td style="padding-right: 34px;">
    <table class="table">
        <tbody>
            <tr>
                <td class="tr">Total Income</td>
                {{ funder_year_value_cell(funder_year, "income") }}
            </tr>
            <tr>
                <td class="tr">Investment income</td>
                {{ funder_year_value_cell(funder_year, "income_investment") }}
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="tr">Employees</td>
                {{ funder_year_value_cell(funder_year, "employees", format_str="{:,.0f}") }}
            </tr>
        </tbody>
    </table>
</td>
<td style="padding-right: 34px;">
    <table class="table">
        <tbody>
            <tr>
                <td class="tr">Total spending</td>
                {{ funder_year_value_cell(funder_year, "spending") }}
            </tr>
            <tr>
                <td class="tr">Investment spending</td>
                {{ funder_year_value_cell(funder_year, "spending_investment") }}
            </tr>
            <tr>
                <td class="tr">Charitable</td>
                {{ funder_year_value_cell(funder_year, "spending_charitable") }}
            </tr>
        </tbody>
    </table>
</td>
<td style="padding-right: 34px;">
    <table class="table">
        <tbody>
            <tr>
                <td class="tr">Grantmaking</td>
                {{ funder_year_value_cell(funder_year, "spending_grant_making") }}
            </tr>
            <tr>
                <td class="tr">Grants to individuals</td>
                {{ funder_year_value_cell(funder_year, "spending_grant_making_individuals") }}
            </tr>
            <tr>
                <td class="tr">Grants to institutions</td>
                {# {{ funder_year_value_cell(funder_year, "spending_grant_making_institutions") }}
            </tr>
            <tr>
                <td class="tr"> - charitable institutions</td>
                {{ funder_year_value_cell(funder_year, "spending_grant_making_institutions_charitable") }}
            </tr>
            <tr>
                <td class="tr"> - noncharitable institutions</td>
                {{ funder_year_value_cell(funder_year, "spending_grant_making_institutions_noncharitable") }}
            </tr>
            <tr>
                <td class="tr"> - unknown institutions</td> #}
                {{ funder_year_value_cell(funder_year, "spending_grant_making_institutions_unknown") }}
            </tr>
        </tbody>
    </table>
</td>
<td>
    <table class="table">
        <tbody>
            <tr>
                <td class="tr">Net assets</td>
                {{ funder_year_value_cell(funder_year, "total_net_assets") }}
            </tr>
            <tr>
                <td class="tr">Funds</td>
                {{ funder_year_value_cell(funder_year, "funds") }}
            </tr>
            <tr>
                <td class="tr">Endowment funds</td>
                {{ funder_year_value_cell(funder_year, "funds_endowment") }}
            </tr>
            <tr>
                <td class="tr">Unrestricted funds</td>
                {{ funder_year_value_cell(funder_year, "funds_unrestricted") }}
            </tr>
            <tr>
                <td class="tr">Restricted funds</td>
                {{ funder_year_value_cell(funder_year, "funds_restricted") }}
            </tr>
        </tbody>
    </table>
</td>

<td>
    <div class="flex-column">
        {{ display_date(funder_year.checked_on) }}
        {% if funder_year.checked_by %}
        <p>{{ funder_year.checked_by }}</p>
        {% endif %}
        <a href="#" class="button"
            hx-get="{{ url_for('grantmakers:edit_funderyear', org_id=object.org_id, funderyear_id=funder_year.id) }}"
            hx-trigger="click" hx-target="#funder-year-{{ funder_year.id }}" hx-swap="outerHTML">Edit</a>
        <a href="#" class="button red"
            hx-delete="{{ url_for('grantmakers:edit_funderyear', org_id=object.org_id, funderyear_id=funder_year.id) }}"
            hx-confirm="Are you sure you wish to delete this row?" hx-trigger="click"
            hx-target="#funder-year-{{ funder_year.id }}" hx-swap="outerHTML" hx-include=".funder-year-edit">Delete</a>
    </div>
</td>
{% endmacro %}


{% macro funder_year_row_edit(funder_year) %}
<td>
    {% if funder_year %}
    <strong>{{ funder_year.funder_financial_year.financial_year_id }}</strong><br>
    <small>{{ display_date(funder_year.financial_year_start) }} to
        {{ display_date(funder_year.financial_year_end) }}</small>
    {% if funder_year.account_url %}
    <br><a href="{{ funder_year.account_url }}" target="_blank">Accounts PDF</a>
    {% endif %}
    {% endif %}
</td>
<td colspan="4">
    <table class="table">
        <thead>
            <tr>
                <th class="tr" rowspan="2">Field</th>
                <th class="tc" colspan="2">Current year</th>
                {% if funder_year_py %}
                <th class="tc" colspan="2">Previous year</th>
                {% endif %}
            </tr>
            <tr>
                <th class="tr">Registered</th>
                <th class="tr">Overwrite</th>
                {% if funder_year_py %}
                <th class="tr">Registered</th>
                <th class="tr">Overwrite</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tr"><strong>Financial year end</strong></td>
                <td class="tr"></td>
                <td class="tr">
                    <input type="date" name="fye-cy" class="funder-year-edit"
                        value="{{ funder_year.financial_year_end or '' }}" />
                </td>
                {% if funder_year_py %}
                <td class="tr"></td>
                <td class="tr">
                    <input type="hidden" name="py-id" class="funder-year-edit" value="{{ funder_year_py.id or '' }}" />
                    <input type="date" name="fye-py" class="funder-year-edit"
                        value="{{ funder_year_py.financial_year_end or '' }}" />
                </td>
                {% endif %}
            </tr>
            {% for field in funder_year.editable_fields() %}
            <tr>
                <td class="tr"><strong>{{ field.label|to_titlecase }}</strong></td>
                <td class="tr">
                    {% if field.tsg %}
                    {{ display_number(funder_year[field['tsg'].name], format_str="[360Giving] " + field.format_str) }}<br>
                    {% if field.registered %}
                    {{ display_number(funder_year[field.registered.name], format_str="[Registered] " + field.format_str) }}<br>
                    {% endif %}
                    {% elif field.registered %}
                    {{ display_number(funder_year[field.registered.name], format_str=field.format_str) }}
                    {% endif %}
                </td>
                <td class="tr">
                    <input x-mask:dynamic="$money($input, '.', ',', 0)" type="text" name="{{ field.name }}-cy"
                        class="funder-year-edit" placeholder="-" value="{{ funder_year[field.manual.name] or '' }}" />
                </td>
                {% if funder_year_py %}
                <td class="tr">
                    {% if field.tsg %}
                    {{ display_number(funder_year_py[field.tsg.name], format_str="[360Giving] " + field.format_str) }}<br>
                    {% if field.registered %}
                    {{ display_number(funder_year_py[field.registered.name], format_str="[Registered] " + field.format_str) }}<br>
                    {% endif %}
                    {% elif field.registered %}
                    {{ display_number(funder_year_py[field.registered.name], format_str=field.format_str) }}
                    {% endif %}
                </td>
                <td class="tr">
                    <input x-mask:dynamic="$money($input, '.', ',', 0)" type="text" name="{{ field.name }}-py"
                        class="funder-year-edit" placeholder="-"
                        value="{{ funder_year_py[field.manual.name] or '' }}" />
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td class="tr">Note</td>
                <td colspan="{% if funder_year_py %}3{% else %}2{% endif%}">
                    <textarea name="note" class="funder-year-edit" rows="7">{{ funder_year.notes or '' }}</textarea>
                </td>
            </tr>
        </tbody>
    </table>
    {% if funder_year %}
    <a href="#" class="button"
        hx-post="{{ url_for('grantmakers:edit_funderyear', org_id=object.org_id, funderyear_id=funder_year.id) }}"
        hx-trigger="click" hx-target="#funder-year-{{ funder_year.id }}" hx-swap="outerHTML"
        hx-include=".funder-year-edit">Save</a>
    {% else %}
    <a href="#" class="button" hx-post="{{ url_for('grantmakers:edit_funderyear', org_id=object.org_id) }}"
        hx-trigger="click" hx-target="#funder-year-new" hx-swap="outerHTML" hx-include=".funder-year-edit">Save</a>
    {% endif %}
    <a href="#" class="button red"
        hx-post="{{ url_for('grantmakers:edit_funderyear', org_id=object.org_id, funderyear_id=funder_year.id) }}"
        hx-trigger="click" hx-target="#funder-year-{{ funder_year.id }}" hx-swap="outerHTML"
        hx-vals='{ "action": "cancel" }'>Cancel</a>
</td>
<td></td>
{% endmacro %}


<tr class="funder-year border {% if funder_year.funder_financial_year.financial_year.current %}current{% endif %}"
    id="funder-year-{% if funder_year %}{{ funder_year.id }}{% else %}new{% endif %}">
    {% if edit %}
    {{ funder_year_row_edit(funder_year)}}
    {% else %}
    {{ funder_year_row(funder_year)}}
    {% endif %}
</tr>
{% if funder_year_py and not edit and request.htmx %}
<tr class="border" id="funder-year-{{ funder_year_py.id }}" hx-swap-oob="true">
    {{ funder_year_row(funder_year_py)}}
</tr>
{% endif %}
{# {% if request.htmx %}{% include 'grantmakers/partials/audittrail.html.j2'%}{% endif %} #}