{% from 'components/values.html.j2' import display_date, display_number, display_longtext, display_list, display_text, none_wrapper, display_boolean, display_url %}

{% macro wrap_table(class_="sticky aside") %}
<div class="table-wrapper {{ class_ }}">
    <table class="table bordered">
        <thead>
            <tr>
                <th class="medium-width">Name</th>
                <th class="small-width">Org ID</th>
                <th class="small-width">Segment</th>
                <th class="tc">Included</th>
                <th class="tc">Makes grants to individuals</th>
                <th class="big-width">Tags</th>
                <th class="tc small-width">Checked</th>
                <th class="tr small-width">Income</th>
                <th class="tr small-width">Income investment</th>
                <th class="tr small-width">Spending</th>
                <th class="tr small-width">Spending investment</th>
                <th class="tr small-width">Spending charitable</th>
                <th class="tr small-width">Spending grant making</th>
                <th class="tr small-width">Spending grant making individuals</th>
                <th class="tr small-width">Spending grant making institutions charitable</th>
                <th class="tr small-width">Spending grant making institutions noncharitable</th>
                <th class="tr small-width">Spending grant making institutions unknown</th>
                <th class="tr small-width">Spending grant making institutions</th>
                <th class="tr small-width">Total net assets</th>
                <th class="tr small-width">Funds</th>
                <th class="tr small-width">Funds endowment</th>
                <th class="tr small-width">Funds restricted</th>
                <th class="tr small-width">Funds unrestricted</th>
                <th class="tr small-width">Employees</th>
            </tr>
        </thead>
        <tbody>
            {{ caller() }}
        </tbody>
    </table>
</div>
{% endmacro %}


{% macro fundertable(object_list) %}
{% call wrap_table() %}
{% for object in object_list %}
<tr class="{% if object.latest_year.checked == 'Checked' %}positive{% endif %}">
    <td><a class="b" href="{{ url_for('grantmakers:detail', org_id=object.org_id) }}">{{ object.name }}</a>
    <td><a href="{{ url_for('grantmakers:detail', org_id=object.org_id) }}">{{ object.org_id }}</a></td>
    </td>
    <td>{{ display_text(object.segment) }}</td>
    <td class="tc">{{ display_boolean(object.included) }}</td>
    <td class="tc">{{ display_boolean(object.makes_grants_to_individuals) }}</td>
    <td>
        <ul class="tags">{% for tag in object.tags.values_list("tag", flat=true) %}<li>{{ tag }}</li>
            {% endfor %}</ul>
    </td>
    <td class="tc">
        <div class="flex-row">
            {{ display_boolean(object.latest_year.checked == "Checked") }}
            {% if object.latest_year.checked_by %}
            {{ object.latest_year.checked_by|user_name }}
            {% endif %}
        </div>
    </td>
    {% if object.latest_year %}
    <td class="tr">{{ display_number(object.latest_year.income, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.income_investment, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.spending, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.spending_investment, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.spending_charitable, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.spending_grant_making, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">
        {{ display_number(object.latest_year.spending_grant_making_individuals, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">
        {{ display_number(object.latest_year.spending_grant_making_institutions_charitable, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">
        {{ display_number(object.latest_year.spending_grant_making_institutions_noncharitable, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">
        {{ display_number(object.latest_year.spending_grant_making_institutions_unknown, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">
        {{ display_number(object.latest_year.spending_grant_making_institutions, format_str="£{:,.0f}") }}
    </td>
    <td class="tr">{{ display_number(object.latest_year.total_net_assets, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.funds, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.funds_endowment, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.funds_restricted, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.funds_unrestricted, format_str="£{:,.0f}") }}</td>
    <td class="tr">{{ display_number(object.latest_year.employees, format_str="£{:,.0f}") }}</td>
    {% else %}
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    <td class="tr"></td>
    {% endif %}
</tr>
{% endfor %}
{% endcall %}
{% endmacro %}