<ul class="notes" id="funder-notes">
    {% for note in object.notes.all() %}
    <li class="note">
        <header>
            <time value="{{ note.date_added }}">{{ note.date_added|naturalday }}</time>
            by <strong>{{ note.added_by }}</strong>
        </header>
        {{ note.note|markdownify|safe }}
    </li>
    {% endfor %}
    {% for financial_year in object.financial_years.filter(notes__isnull=false).exclude(notes__exact='') %}
    <li class="note">
        <header>
            <strong>FY{{ financial_year.financial_year_id }}</strong>
            <time value="{{ financial_year.checked_on }}">{{ financial_year.checked_on|naturalday }}</time>
            by <strong>{{ financial_year.checked_by|user_name }}</strong>
        </header>
        {{ financial_year.notes|markdownify|safe }}
    </li>
    {% endfor %}
    <li class="note">
        <header>Add note</header>
        <form action="{{ url_for('grantmakers:add_note', org_id=object.org_id) }}" method="post"
            hx-target="#funder-notes" hx-swap="outerHTML" class="flex-column"
            hx-post="{{ url_for('grantmakers:add_note', org_id=object.org_id) }}">
            <textarea name="note" id="note" rows="5" style="width: 100%;"></textarea>
            <button type="submit" class="button">Add note</button>
        </form>
    </li>
</ul>