{% extends "base.html.j2" %}

{% block content %}
<h1>Financial year {{ fy }}</h1>

<a href="{{ xlsx_link }}">Download as Excel</a>
<a href="{{ csv_link }}">Download all as CSV</a>

<h2 id="contents">Contents</h2>
<ul>
    {% for sheet_name, tables in output.sheets.items() %}
    {% if sheet_name not in skip_sheets %}
    <li><a href="#{{ sheet_name|slugify }}">{{ sheet_name }}</a></li>
    {% if tables|length > 1 %}
    <ul>
        {% for  table in tables %}
        {% if table.title %}
        <li><a href="#{{ sheet_name|slugify }}-{{ table.title|slugify }}">{{ table.title }}</a></li>
        {% elif tables|length > 1 %}
        <li><a href="#{{ sheet_name|slugify }}-{{ loop.index }}">{{ sheet_name }} table {{ loop.index }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>

{% for sheet_name, tables in output.sheets.items() %}
{% if sheet_name not in skip_sheets %}
<h2 id="{{ sheet_name|slugify }}">{{ sheet_name }}</h2>

{% if tables|length > 1 %}
<ul>
    {% for  table in tables %}
    {% if table.title %}
    <li><a href="#{{ sheet_name|slugify }}-{{ table.title|slugify }}">{{ table.title }}</a></li>
    {% elif tables|length > 1 %}
    <li><a href="#{{ sheet_name|slugify }}-{{ loop.index }}">{{ sheet_name }} table {{ loop.index }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% for table in tables %}

{% if table.title %}
<h3 id="{{ sheet_name|slugify }}-{{ table.title|slugify }}">{{ table.title }}</h3>
{% elif tables|length > 1 %}
<span id="{{ sheet_name|slugify }}-{{ loop.index }}">{{ sheet_name }} table {{ loop.index }}</span>
{% endif %}
<a href="#contents" class="f7">Back to contents</a>

<figure class="pa0 ma0 mw-100 overflow-scroll">
    {% if table.summary %}
    <figcaption>{{ table.summary }}</figcaption>
    {% endif %}
    <table class="collapse ba br2 b--black-10 pv2 ph3 f6">
        <thead>
            <tr>
                {% for column in table.df.columns %}
                <th class="pv2 ph3 tl f6 fw6 ttu {% if column in ('Name', 'Notes') %}w5{% endif %}">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.df.itertuples(index=False) %}
            <tr class="striped--light-gray {% if row[0] == 'Total' or row[1] == 'Total' %}ttu b{% endif %}">
                {% for value in row %}
                {% if value is none %}
                <td class="pv2 ph3 grey tr">-</td>
                {% elif value is integer %}
                <td class="pv2 ph3 tr">{{ "{:,.0f}".format(value) }}</td>
                {% elif value is float %}
                <td class="pv2 ph3 tr">
                    {% if value >= 0.1 %}{{ "{:,.1f}".format(value) }}
                    {% elif value > 0 %}&lt;0.1
                    {% elif value == 0 %}0
                    {% else %}{{ "{:,.1f}".format(value) }}{% endif %}
                </td>
                {% elif value is string %}
                <td class="pv2 ph3 w5">{{ value }}</td>
                {% else %}
                <td class="pv2 ph3">{{ value }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if table.notes %}
    <figcaption>{{ table.notes }}</figcaption>
    {% endif %}
</figure>
{% endfor %}

{% endif %}
{% endfor %}
{% endblock content %}